<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="main">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/dashboard"> <img src="images/logo-small.png" alt="logo.png" title="logo" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="btnDemo" ng-click="showConnectPopup(5)"> <img src="images/like.png" /></a>
                    </li>
                    <li  class="dropdown" >
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <img src="images/user.png" /></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#/acc-setting">Account Settings</a>
                            </li>
                            <li>
                                <a href="#/profile">My profile</a>
                            </li>
                            <li>
                                <a href="#/billing">Billing</a>
                            </li>
                            <li>
                                <a href="#/team">Team</a>
                            </li>
                            <li>
                                <a href="#/notifications">Notification</a>
                            </li>

                            <li>
                                <a ng-click="logout()">Logout</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>
<div class="bg-green">
    <div class="main">
        <p class="text-center white">
            We're syncing your account with FreshBooks. This can take a few minutes or even a few hours. While you're waiting why don't you <a ng-click="showConnectPopup(4)" id="Button2">take a tour?</a>
        </p>
    </div>
</div>
<div class="bg-gray">

    <div class="main">
        <div class="col-md-12">
            <div class=" col-lg-1">
                <label class="form-label">Filters:{{testtsts}}</label>
            </div>
            <div class=" col-lg-3">
                <select class="form-control col-lg-9" id="select">
                    <option value="0">Metric Type</option>
                    <option>Metric Type 1</option>
                    <option>Metric Type 2</option>
                    <option>Metric Type 3</option>
                    <option>Metric Type 4</option>
                </select>
            </div>

            <div class="col-lg-3">
                <div class="daterange daterange--double MT5"></div>
                <!--
                <div class="input-group date form_datetime col-md-12" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1" ng-controller="DatepickerCtrl">
                <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <!--  <input class="form-control"  size="16" type="text" value="" readonly>

                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>-->

                <!-- </div>-->

                <input type="hidden" id="dtp_input1" value="" />
            </div>

            <div class="col-lg-3">
                <div class="input-group date form_datetime " data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1" ng-controller="DatepickerCtrl" style="width:100%">

                    <input type="date" class="form-control"   ng-model="dt" is-open="opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <!--
                    <input class="form-control" size="16" type="text" value="" readonly>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    -->

                </div>
                <input type="hidden" id="Hidden1" value="" />
            </div>

            <div class=" col-lg-2">
                <button class="btn btn-danger btn-100 MT5" ng-click="getUpdate()" value="Update">
                    UPDATE
                </button>
            </div>
        </div>

    </div>
</div>

<input type="hidden" name="full_name" id="full_name"/>
<input type="hidden" name="email_address" id="email_address" />
<input type="hidden" name="created_at" id="created_at" />
<input type="hidden" name="user_id" id="user_id" />

<!--

<div ng-view></div>
-->
 <div class="clearfix"></div>
<div class="main-content" data-ui-view></div>

<script>
	//function exeIntercom() {

	//alert($('#created_at').val())

	window.Intercom('boot', {
		app_id : "gc6ggb59",
		// TODO: The current logged in user's full name
		name : $('#full_name').val(),
		// TODO: The current logged in user's email address.
		email : $('#email_address').val(),
		// TODO: The current logged in user's sign-up date as a Unix timestamp.
		created_at : $('#created_at').val(),
		// TODO: The current logged in user's id of database.
		user_id : $('#user_id').val()
	});

	//window.Intercom('shutdown');

	//}

	//setTimeout(exeIntercom, 2000)

</script>

<script type="text/javascript">

	/*
	 $('.form_datetime').datetimepicker({
	 //language:  'fr',
	 weekStart : 1,
	 todayBtn : 1,
	 autoclose : 1,
	 todayHighlight : 1,
	 startView : 2,
	 forceParse : 0,
	 showMeridian : 1
	 });
	 $('.form_date').datetimepicker({
	 language : 'fr',
	 weekStart : 1,
	 todayBtn : 1,
	 autoclose : 1,
	 todayHighlight : 1,
	 startView : 2,
	 minView : 2,
	 forceParse : 0
	 });
	 $('.form_time').datetimepicker({
	 language : 'fr',
	 weekStart : 1,
	 todayBtn : 1,
	 autoclose : 1,
	 todayHighlight : 1,
	 startView : 1,
	 minView : 0,
	 maxView : 1,
	 forceParse : 0
	 });*/
	

</script>
<script>
     

	new Calendar({
		element : $(".daterange--single"),
		current_date : new Date("June 15, 2015")
	}), new Calendar({
		element : $(".daterange--double"),
		earliest_date : new Date("January 1, 2000"),
		latest_date : new Date,
		start_date : new Date("May 1, 2015"),
		end_date : new Date("May 31, 2015"),
		callback : function() {
			var e = moment(this.start_date).format("ll"), a = moment(this.end_date).format("ll");
			console.log("Start Date: " + e + "\nEnd Date: " + a)
		}
	});

</script>
