<div class="main PDBOTTOM">
    <div ng-include src="'js/views/common/sidebar.html'"></div>

    <div class="col-lg-9 main">
        <h3 class="title col-lg-12"><span class="pull-left">ACCOUNT SETTINGS</span></h3>

        <h4 class="orange" style="margin: 2%;
        margin-top: 12%;" >CONNECT YOUR FRESHBOOK ACCOUNT</h4>
        <div class="col-lg-12" style="padding: 6px;">

            <div class="col-lg-3">

                <p>
                    <span style="color: green;">100 % Secure</span>
                    <br />
                    <span>By coonecting,you're authorinzing read-only access to your FreshBook account.</span>
                </p>
            </div>

            <div class="col-lg-3">
                <p>
                    <span style="color: green;">100 % Private</span>
                    <br />
                    <span>Your account information stay between you and your teammates only.</span>
                </p>
            </div>
            
            <div class="col-lg-3">
                <p>
                    <span style="color: green;">100 % Reversible</span>
                    <br />
                    <span>Not satisfied remove access to your FreshBooks account with just one click.</span>
                </p>
            </div>

        </div>

        <div class="col-lg-12">
            <button type="button" class="btn btn-danger">
                Save and Update
            </button>
        </div>
    </div>

</div>

