<div class=" background">
    <!--SIGN UP-->
    <div class="header PD5 MB3">
        <h1><a href="#"> <img src="images/logo.png" alt="FreshMetrics" title="FreshMetrics"> </a></h1>
    </div>
    <div class="login-form">

        <div class="bottom-form">
            <div class="form-top">
                <form>
                    <h4 style="padding-bottom: 4%"> Forgot Password</h4>
                    <div class="clear"></div>
                    <div class="user">
                        <input type="email" ng-model="forgot_email_address" placeholder="Email Address" value="Email Address"  required>
                        <i></i>
                    </div>

                    <div class="">

                        <div class="keep-loginbutton">
                            <input type="submit" value="Submit" ng-click="forgotPassword()" />

                        </div>
                        <div class="clear"></div>
                    </div>
                    <p>
                        <a href="#/signup">Signup</a>
                    </p>
                </form>
            </div>

        </div>
    </div>
    <div class="copyrights">
        <p>
            I agree to FreshMetrics'
            <a href="#"><u>Terms of Service</u></a> and <a href="#"><u>Privacy Policy</u></a>.
            <br />
            <a href="#"><u>Get help from our support team</u></a>
        </p>
        <p class="copyright">
            &copy; 2015 FreshMetrics LLC
        </p>
    </div>
</div>

