<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!--<link href="css/bootstrap.css" rel="stylesheet" />-->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="js/RGraph.common.core.js"></script>
    <script src="js/RGraph.common.effects.js"></script>
    <script src="js/RGraph.line.js"></script>
    <style>
        .margin-10 {margin:10px !Important;}
        .wd80 {width:20%; margin:10px}
    </style>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="main">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="images/logo-small.png" alt="logo.png" title="logo" /></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">
                            <img src="images/like.png" /></a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="images/user.png" /></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Billing</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Notification</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>


    <div class="bg-gray">

        <div class="main">
            <div class="col-md-12">
                <div class=" col-lg-1">
                    <label class="form-label">Filters:</label>
                </div>
                <div class=" col-lg-3">
                    <select class="form-control col-lg-9" id="select">
                        <option value="0">Metric Type</option>
                        <option>Metric Type 1</option>
                        <option>Metric Type 2</option>
                        <option>Metric Type 3</option>
                        <option>Metric Type 4</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <div class="input-group date form_datetime col-md-12" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                        <input class="form-control" size="16" type="text" value="" readonly>

                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input1" value="" />
                </div>

                <div class="col-lg-3">
                    <div class="input-group date form_datetime col-md-12" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                        <input class="form-control" size="16" type="text" value="" readonly>

                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="Hidden1" value="" />
                </div>
                <div class=" col-lg-2">
                    <button class="btn btn-danger btn-100 pull-right" value="Update">UPDATE</button>
                </div>
            </div>

        </div>
    </div>


    <div class="main PDBOTTOM">
        <div class="col-lg-12">
            <h3 class="title col-lg-12 "><span class="pull-left">Monthly Recurring Revenue</span>  <span class="green pull-right">$2,479</span></h3>
            <canvas id="cvs" width="1150" height="500">[Not support]</canvas>
        </div>

        <div class="row">
            <div class=" col-lg-12 margin-top-20px" style="padding:0px 20px">
                <div class="col-sm-3 cercle-border  wd80 ">
                    <div class="jumbotron">
                        <h3 class="orange">$2337</h3>
                        <h4 class="black">Gross Profit</h4>
                    </div>
                </div>
                <div class="col-sm-3 cercle-border  wd80">
                    <div class="jumbotron">
                        <h3 class="green">$297</h3>
                        <h4 class="black">Expenses</h4>
                    </div>

                </div>
                <div class="col-sm-3 cercle-border wd80 ">
                    <div class="jumbotron">
                        <h3 class="green">$2337</h3>
                        <h4 class="black">Gross Profit</h4>
                    </div>
                </div>
                <div class="col-sm-3 cercle-border wd80 ">
                    <div class="jumbotron">
                        <h3 class="green">$297</h3>
                        <h4 class="black">Expenses</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>

    
    
    <!--  <script src="js/bootstrap.min.js"></script>-->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker.fr.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('.form_date').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });
</script>
    <script>
        $(document).ready(function () {
            var color = '#85d06e';

            var line = new RGraph.Line({
                id: 'cvs',
                data: [
                    [7000, 16000, 33000, 26000, 58000, 43000, 53000, 88500, null, null, null, null],
                    [null, null, null, null, null, null, null, null, null, null, null, null],
                ],
                options: {
                    colors: ['#85d06e', color],
                    shadow: false,
                    noaxes: true,
                    'background.grid.vlines': false,
                    'background.grid.autofit.numhlines': 7,
                    'background.grid.border': false,
                    numyticks: 7,
                    'ylabels.count': 7,
                    ymax: 90000,
                    'gutter.top': 50,
                    'gutter.left': 100,
                    'units.pre': '$',
                    linewidth: 3,
                    labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
                    tickmarks: 'dot',
                    'tickmarks.dot.stroke': 'white',
                    //'tickmarks.dot.fill': 'red',
                    'tickmarks.dot.linewidth': 0,
                    'tickmarks.dot.stroke': 'white',
                    ticksize: 0,
                    'text.size': 14,
                    'text.font': 'Segoe UI',
                    'scale.zerostart': true,
                    shadow: true,
                    'shadow.offsetx': 0,
                    'shadow.offsety': 0,
                    'shadow.blur': 0
                }
            }).on('draw', function (obj) {
                // Draw the vertical line
                var x = obj.coords2[1][7][0];
                var y = obj.coords2[1][7][1];

                // Draw thevertical line above/below the 8th point
                RGraph.path(obj, ['b', 'm', x, 25, 'l', x, y - 10, 's', color]);
                RGraph.path(obj, ['b', 'm', x, y + 10, 'l', x, 230, 's', color]);

                obj.context.fillStyle = color;

                // Draw the text above the line
                RGraph.text2(obj, {
                    'x': x,
                    'y': 25,
                    'text': 'TODAY',
                    'size': 8,
                    'halign': 'center',
                    'bold': true
                });

                // Draw the text above the line
                RGraph.text2(obj, {
                    color: 'black',
                    'x': 65,
                    'y': 30,
                    'text': 'REVENUE',
                    'size': 14,
                    'halign': 'center',
                    'bold': true
                });


            }).trace2({ frames: 50 }, function (obj) {
                obj.animate({
                    'frames': 30,
                    'ticksize': 7,
                    'tickmarks.dot.linewidth': 3,
                    'shadow.offsetx': 1,
                    'shadow.offsety': 1,
                    'shadow.blur': 2
                });
            });
        });
    </script>

</body>
</html>
<!--/SIGN UP-->
