<div class="main PDBOTTOM">
    <div ng-include src="'js/views/common/sidebar.html'"></div>

    <div class="col-lg-9">
        <h3 class="title col-lg-12 "><span class="pull-left">NOTIFICATIONS</span></h3>
        <div class="col-lg-6">

            <label for="accessible">
                <input type="radio" value="accessible" name="quality" id="accessible">
                <span>Weekly Summary Emails</span> </label>

            <label for="pretty">
                <input type="radio" value="pretty" name="quality" id="pretty">
                <span>Montly Summary Emails</span> </label>

            <label for="accessible-and-pretty">
                <input type="radio" value="pretty" name="quality" id="accessible-and-pretty" checked>
                <span>No thanks, I don’t need summary emails</span> </label>

        </div>

        <div class="col-lg-12">
            <button type="button" class="btn btn-danger">
                Save and Update
            </button>
        </div>
    </div>

</div>

