<div class="main PDBOTTOM">
    <div ng-include src="'js/views/common/sidebar.html'"></div>

    <div class="col-lg-9  ">
        <h3 class="title col-lg-12 "><span class="pull-left">My Profile</span>  </h3>
        <div class="col-lg-12">

            <div class="col-lg-3">
                <div class="text-center">

                    <img src="images/default.png" />
                      <a href="#"> <img class="cross-icon" src="images/popup_cross.png" /></a>
                </div>
                <label class="green text-center">
                    John Doe
                </label>
            </div>
            <div class="col-lg-3">
                <div class="text-center">

                    <img src="images/default.png" />
                </div>
                 <a href="#" ng-click="showConnectPopup(6)"> <img class="cross-icon" src="images/popup_cross.png" /></a>
                <label class=" green text-center">
                    John Doe
                </label>
            </div>
            <div class="col-lg-3">
                <div class="text-center">

                    <img src="images/default.png" />
                </div>
                <a href="#"> <img class="cross-icon" src="images/popup_cross.png" /></a>
                <label class=" green text-center">
                    John Doe
                </label>
            </div>
            <div class="col-lg-3">
                <div class="text-center">
                 <a href="#" ng-click="showConnectPopup(7)">   <img src="images/add-user.png" /></a>
                </div>
                <label  class=" green text-center">
                    Add New User
                </label>
            </div>



        </div>


        <div class="col-lg-12">
            <button type="button" class="btn btn-danger">Save and Update</button>
        </div>
    </div>



</div>

